@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primarySpaceColor: rgb(11, 13, 23);
  --secondSpaceColor: rgb(208, 214, 249);
  --whiteSpaceColor: rgb(255, 255, 255);
}

body {
  color: rgb(var(--foreground-rgb));
}